.App {
    --header_height: 60px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hw {
    width: 1280px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 1280px;
    margin: auto auto;
}

.chat {
    display: flex;
    flex-direction: column;
}
